@page
@model WebAPP.Pages.AutentificacionOTPModel
@{
   ViewData["Title"] = "Autenticación OTP";
}

<div class="otp-container">
    <div class="otp-box">
        <h2>Verificación de Código</h2>
        <p>Hemos enviado un código a tu correo. Ingrésalo aquí abajo:</p>

        <div class="otp-inputs">
            <input type="text" maxlength="1" />
            <input type="text" maxlength="1" />
            <input type="text" maxlength="1" />
            <input type="text" maxlength="1" />
            <input type="text" maxlength="1" />
            <input type="text" maxlength="1" />
        </div>

        <div class="timer-text">
            Tiempo restante: <span id="otp-timer">02:00</span>
        </div>

        <button class="btn-confirmar">Confirmar Código</button>
    </div>
</div>

@section Scripts {
    <script>
        const emailUsuario = '@ViewData["EmailUsuario"]';
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/Pages/AutentificacionOTP.js"></script>
}
<link rel="stylesheet" href="~/css/AutentificacionOTP.css" />

