@page
@model WebAPP.Pages.TablaComisionModel
@{
    ViewData["Title"] = "Tabla Comision";
}

<script src="~/js/Pages/ComisionTable.js"></script>



<div class="bs-docs-section">
    <div class="row">
        <legend>Lista de Comisiones</legend>
        <div class="col-lg-12">
            <table id="tblComision" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Tipo</th>
                        <th>Nombre</th>
                        <th>Porcentaje</th>
                        <th>Tarifa 1</th>
                        <th>Tarifa 2</th>
                        <th>Tarifa 3</th>
                        <th>Id Admin</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>











