@page
@model WebAPP.Pages.TablaAdminModel
@{
    ViewData["Title"] = "Tabla Administrador";
}

<script src="~/js/Pages/AdminTable.js"></script>



<div class="bs-docs-section">
    <div class="row">
        <legend>Lista de Administradores</legend>
        <div class="col-lg-12">
            <table id="tblAdmins" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Cédula</th>
                        <th>Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Dirección</th>
                        <th>Telefono</th>
                        <th>Estado</th>
                        <th>Rol</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Correo Electrónico</th>
                        <th>Fecha  Creación</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">
                <form>
                    <fieldset>
                        <legend>Formulario de registro</legend>
                        <div class="form-group">
                            <label for="txtCedula" class="form-label mt-4">Cedula</label>
                            <input id="txtCedula" type="number" class="form-control" aria-describedby="emailHelp" placeholder="Enter your cedula">
                        </div>

                        <div class="form-group">
                            <label for="txtNombre" class="form-label mt-4">Nombre</label>
                            <input type="text" class="form-control" id="txtNombre" aria-describedby="emailHelp" placeholder="Enter your name">
                            <small id="emailHelp" class="form-text text-muted">Use your name.</small>
                        </div>

                        <div class="form-group">
                            <label for="txtPrimerApellido" class="form-label mt-4">PrimerApellido</label>
                            <input type="text" class="form-control" id="txtPrimerApellido" aria-describedby="emailHelp" placeholder="Enter your last name">
                            <small id="emailHelp" class="form-text text-muted">Use your name.</small>
                        </div>

                        <div class="form-group">
                            <label for="txtSegundoApellido" class="form-label mt-4">Segundo Apellido</label>
                            <input type="text" class="form-control" id="txtSegundoApellido" aria-describedby="emailHelp" placeholder="Enter your last name">
                            <small id="emailHelp" class="form-text text-muted">Use your name.</small>
                        </div>

                        <div class="form-group">
                            <label for="txtDirecion" class="form-label mt-4">Direccion </label>
                            <input type="text" class="form-control" id="txtDireccion" aria-describedby="emailHelp" placeholder="Enter your last name">
                            <small id="emailHelp" class="form-text text-muted">Use your name.</small>
                        </div>

                        <div class="form-group">
                            <label for="txtTelefono" class="form-label mt-4">Numero de Telefono </label>
                            <input type="number" class="form-control" id="txtTelefono" aria-describedby="emailHelp" placeholder="Enter your phone number">
                            <small id="emailHelp" class="form-text text-muted">Use your phone.</small>
                        </div>

                        <div class="form-group">
                            <label for="selectEstado" class="form-label mt-4">Estado</label>
                            <select class="form-control" id="selectEstado">
                                <option value="activo">Activo</option>
                                <option value="inactivo">Inactivo</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="selectRol" class="form-label mt-4">Rol</label>
                            <select class="form-control" id="selectRol">
                                <option value="asesor">Asesor</option>
                                <option value="administrador">Administrador</option>
                                <option value="cliente">Cliente</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="txtPassword" class="form-label mt-4">Password</label>
                            <input type="password" class="form-control" id="txtPassword" aria-describedby="emailHelp" placeholder="Enter your password">
                        </div>

                        <div class="form-group">
                            <label for="txtBirthDate" class="form-label mt-4">Fecha de Nacimiento</label>
                            <input type="date" class="form-control" id="txtBirthDate" aria-describedby="emailHelp" placeholder="Enter your birthdate">
                        </div>

                        <div class="form-group">
                            <label for="txtEmail" class="form-label mt-4">Correo </label>
                            <input id="txtEmail" type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>

                        
                    </fieldset>
                </form>
                <br />
                <button id="btnCreate" class="source-button btn btn-primary btn-xs" type="button" tabindex="0">
                    <i class="bi bi-code">Save</i>
                </button>
                <button id="btnUpdate" class="source-button btn btn-info btn-xs" type="button" tabindex="0">
                    <i class="bi bi-code">Update</i>
                </button>
                <button id="btnDelete" class="source-button btn btn-danger btn-xs" type="button" tabindex="0">
                    <i class="bi bi-code">Delete</i>
                </button>
            </div>
        </div>
    </div>

    
</div>




     





